.avertissement{
    font-weight: bold;
    color: #9F000F;
  }

.obligatoire{
    color: #9F000F;
    font-style: italic;
    padding-left : 2em;
  }
  
  .forminscription {
    background : linear-gradient( to right,rgba(113,183,244,0.8), rgba(255,128,128,0.3));
    border-radius : 10px;
    margin:5px;
    padding : 5px;
  
  }
  