#menu { 
    display:inline-block;
	padding-top:20px;  
	font-family:PT sans,Helvetica,Arial,sans-serif;
    /*font-weight : bold; /* on met le texte en gras */
    font-size : 14px; /* hauteur du texte : 12 pixels */
}

#menu a, ul{
    padding-left:0px;
}
#menu a{
		vertical-align:middle;
		text-decoration:none; 
		text-transform: uppercase;
}
#menu ul /* Liste */    
{
        /*padding : 0; /* pas de marge intrieure */
        /*margin : 0; /* ni extrieure */
        list-style : none; /* on supprime le style par dfaut de la liste */
        line-height : 21px; /* on dfinit une hauteur pour chaque lment */
        text-align : left; /* on centre le texte qui se trouve dans la liste */
}


#menu li /* Elements des listes */     
{
        float : left;
        /* pour IE qui ne reconnat pas "transparent" */
        border-right : 1px solid #fff; /* on met une bordure blanche  droite de chaque lment */
		height:50px;
		line-height:50px;
		text-align:center;
		width:80px;
}
 
/* IE ne reconnaissant pas le slecteur ">" */
html>body #menu li
{
        border-right: 1px solid transparent ; /* on met une bordure transparente  droite de chaque lment */
}
 
#menu li ul /* Sous-listes */
{
        position: absolute; /* Position absolue */
        width: 144px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
}
 
 
#menu li ul li /* lments de sous-listes */
{
        /* pour IE qui ne reconnat pas "transparent" (comme prcdemment) */
        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque lment d'une sous liste */
        background-color : lavender;
        width:80%;
}
 
/* IE ne reconnaissant pas le slecteur ">" */
html>body #menu li ul li               
{
        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque lment */
}
 
#menu li ul ul
{
        margin    : -22px 0 0 144px ; /* On dcale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */
        /* pour IE qui ne reconnat pas "transparent" (comme prcdemment) */
        border-left     : 1px solid #fff ; /* Petite bordure  gauche pour ne pas coller ... */     
}
 
/* IE ne reconnaissant pas le slecteur ">" ... je me rpte ;-) */
html>body #menu li ul ul               
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque lment */
}
#menu li:hover /* Lorsque la souris passe sur un des liens */   
{
        color: #000; /* On passe le texte en noir... */
        background-image: url("../images/bg9.png"); /* ... et au contraire, le fond en blanc */
}    

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un lment de liste */
{
        left: -999em; /* On expdie les sous-sous-listes hors du champ de vision */
}
 
#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un lment de liste ET sous-sous-lites lorsque la souris passe sur un lment de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}